@model minVagtPlan.Models.ViewModels.AddShiftViewModel
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]



<h2>Add Shift</h2>

<form method="post">

    <div class="form-group">
        <label>Start Time</label>
        <input type="datetime-local" asp-for="StartTime" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>End Time</label>
        <input type="datetime-local" asp-for="EndTime" class="form-control" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add Shift</button>

</form>