@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    <li><a href="C:\Projekter\minVagtPlan\Views\Admin\AddEmployee.cshtml"></a></li>
    <li><a asp-controller="Admin" asp-action="AddUser">Add User</a></li>
    <li><a asp-controller="Admin" asp-action="UserList">User List</a></li>
</ul>
