@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>Admin:</h2>
<ul>
    <li><a asp-controller="Admin" asp-action="EditEmployee">Edit Employee</a></li>
    <li><a asp-controller="Admin" asp-action="AddEmployee">Add Employee</a></li>
    <li><a asp-controller="Admin" asp-action="ListEmployee">List of Employees</a></li>
</ul>
